@font-face {
  font-family: boldCY;
  src: url("../fonts/mybold.woff2") format("woff2");
}

@font-face {
  font-family: ubuntuBold;
  src: url("../fonts/ubuntuBold.ttf");
}

@font-face {
  font-family: NewYorkTimes;
  src: url("../fonts/OldeEnglish.ttf");
}

@font-face {
  font-family: ubuntuLight;
  src: url("../fonts/ubuntuLight.ttf");
}

@font-face {
  font-family: ubuntu-R;
  src: url("../fonts/ubuntu-R.ttf");
}

@font-face {
  font-family: MyriadProLight;
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 50, B:/04530Maket/scss/style.scss */
.greenBlockFon {
  background-color: #1abc9c;
}

/* line 53, B:/04530Maket/scss/style.scss */
.whiteBlockFon {
  background-color: white;
}

/* line 56, B:/04530Maket/scss/style.scss */
.colorWebDesignIcon {
  color: #4795b7;
}

/* line 59, B:/04530Maket/scss/style.scss */
.colorWebDevelopmentIcon {
  color: #a56bd3;
}

/* line 63, B:/04530Maket/scss/style.scss */
.dropdown button {
  border: 0;
  background-color: transparent;
}

/* line 67, B:/04530Maket/scss/style.scss */
.dropdown li {
  display: inline-block;
}

/* line 68, B:/04530Maket/scss/style.scss */
.dropdown li a {
  padding: 10px;
}

/* line 72, B:/04530Maket/scss/style.scss */
.dropdown li .fa {
  padding-right: 10px;
}

/* line 77, B:/04530Maket/scss/style.scss */
.colorWebDevelopment2Icon {
  color: #aed066;
}

/* line 80, B:/04530Maket/scss/style.scss */
.colorWebMaintenanceIcon {
  color: #f1438a;
}

/* line 83, B:/04530Maket/scss/style.scss */
.colorWebMaintenance2Icon {
  color: #ac5c5c;
}

/* line 86, B:/04530Maket/scss/style.scss */
.colorProjectManagementIcon {
  color: #00b7a8;
}

/* line 89, B:/04530Maket/scss/style.scss */
.colorAqua {
  color: aqua;
}

/* line 92, B:/04530Maket/scss/style.scss */
.colorMagenta {
  color: magenta;
}

/* line 95, B:/04530Maket/scss/style.scss */
.colorYellow {
  color: yellow;
}

/* line 98, B:/04530Maket/scss/style.scss */
.colorRed {
  color: red;
}

/* line 101, B:/04530Maket/scss/style.scss */
.colorWHGreen {
  color: chartreuse;
}

/* line 104, B:/04530Maket/scss/style.scss */
.bcolor1 {
  background-color: #fdbd4f;
}

/* line 107, B:/04530Maket/scss/style.scss */
.bcolor2 {
  background-color: #b8c496;
}

/* line 110, B:/04530Maket/scss/style.scss */
.bcolor3 {
  background-color: #65bcd0;
}

/* line 113, B:/04530Maket/scss/style.scss */
.bcolor4 {
  background-color: #d7f0ed;
}

/* line 116, B:/04530Maket/scss/style.scss */
.bcolor5 {
  background-color: #e0eaf3;
}

/* line 119, B:/04530Maket/scss/style.scss */
.bcolor6 {
  background-color: #d2c2b3;
}

/* line 122, B:/04530Maket/scss/style.scss */
.bcolor7 {
  background-color: #e5e4e2;
}

/* line 125, B:/04530Maket/scss/style.scss */
.bcolor8 {
  background-color: #ffc301;
}

/* line 128, B:/04530Maket/scss/style.scss */
body {
  position: relative;
  width: 1600px;
  height: 12568px;
  margin: 0 auto;
}

/* line 135, B:/04530Maket/scss/style.scss */
.grayfon {
  background-color: #f7f7f7;
}

/* line 138, B:/04530Maket/scss/style.scss */
.paddingBlock {
  padding-left: 220px;
  padding-right: 220px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 7px 7px #e0e0e0;
}

/* line 145, B:/04530Maket/scss/style.scss */
.navColor {
  background-color: #ffffff;
}

/* line 148, B:/04530Maket/scss/style.scss */
.banner {
  position: relative;
  background-color: #7a7a7a;
  height: 770px;
  padding: 0;
}

/* line 154, B:/04530Maket/scss/style.scss */
.nvbar {
  position: relative;
  height: 60px;
  padding: 10px 220px;
  background-color: #ffffff;
}

/* line 160, B:/04530Maket/scss/style.scss */
.logo {
  background-color: #ffffff;
}

/* line 165, B:/04530Maket/scss/style.scss */
.nav a {
  font-family: Ubuntu, sans-serif;
  font-size: 15px;
  display: inline-block;
  padding-top: 14px;
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  color: #a69999;
}

/* line 177, B:/04530Maket/scss/style.scss */
.socNetwork {
  font-family: Awesome sans-serif;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* line 182, B:/04530Maket/scss/style.scss */
.socNetwork a {
  position: relative;
  display: inline-block;
  height: 100%;
}

/* line 190, B:/04530Maket/scss/style.scss */
.socLine {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 34px;
  border: 1px solid #f3f3f3;
}

/* line 197, B:/04530Maket/scss/style.scss */
.facebook {
  color: #3b5998;
}

/* line 200, B:/04530Maket/scss/style.scss */
.twitter {
  color: #00aced;
}

/* line 203, B:/04530Maket/scss/style.scss */
.linkedin {
  color: #3395c5;
}

/* line 206, B:/04530Maket/scss/style.scss */
.odnoklassniki {
  color: coral;
}

/* line 210, B:/04530Maket/scss/style.scss */
.fa {
  padding-left: 10px;
}

/* line 213, B:/04530Maket/scss/style.scss */
.circlesymbol {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: black;
  border: 1px solid black;
}

/* line 222, B:/04530Maket/scss/style.scss */
.cir3 {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 226, B:/04530Maket/scss/style.scss */
.inlineblock {
  display: inline-block;
  position: relative;
  top: -6px;
}

/* line 230, B:/04530Maket/scss/style.scss */
.inlineblock .dropdown {
  display: inline-block;
}

/* line 234, B:/04530Maket/scss/style.scss */
.bblock {
  padding-top: 90px;
  padding-bottom: 95px;
  padding-left: 220px;
  padding-right: 220px;
  border-bottom: 1px solid #dddddd;
}

/* line 241, B:/04530Maket/scss/style.scss */
.cblock {
  padding-top: 90px;
  padding-bottom: 95px;
  border-bottom: 1px solid #dddddd;
}

/* line 246, B:/04530Maket/scss/style.scss */
.ich {
  font-size: 63px;
}

/* line 249, B:/04530Maket/scss/style.scss */
.prodfeatures {
  padding-top: 40px;
  font-family: ubuntuBold;
  letter-spacing: 5px;
  color: #a5a5a5;
  font-size: 15px;
}

/* line 256, B:/04530Maket/scss/style.scss */
.tc {
  text-align: center;
}

/* line 259, B:/04530Maket/scss/style.scss */
.textwhatwedo {
  color: #4c4c4c;
  font-family: ubuntuLight;
  font-size: 61px;
  padding-bottom: 90px;
}

/* line 264, B:/04530Maket/scss/style.scss */
.textwhatwedo span {
  color: #1abc9c;
}

/* line 268, B:/04530Maket/scss/style.scss */
.blockFED {
  margin-top: 70px;
}

/* line 270, B:/04530Maket/scss/style.scss */
.blockFED h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 27px;
  padding-top: 30px;
}

/* line 275, B:/04530Maket/scss/style.scss */
.blockFED p {
  font-size: 16px;
  font-family: "Ubuntu-R";
  color: #939598;
}

/* line 283, B:/04530Maket/scss/style.scss */
.fullyBlock span {
  font-size: 69px;
  color: #4796b7;
}

/* line 289, B:/04530Maket/scss/style.scss */
.easyBlock span {
  font-size: 69px;
  color: #9f5cd8;
}

/* line 295, B:/04530Maket/scss/style.scss */
.directBlock span {
  font-size: 69px;
  color: #f1438a;
}

/* line 303, B:/04530Maket/scss/style.scss */
.servInnerBlock {
  margin: 15px;
  background-color: white;
  height: 250px;
  box-shadow: 0 0 7px gray;
  padding: 15px;
}

/* line 310, B:/04530Maket/scss/style.scss */
.servInnerBlock:hover .ServBlockIcon {
  display: none;
}

/* line 313, B:/04530Maket/scss/style.scss */
.servInnerBlock:hover .ServBlockText {
  text-align: left;
  font-weight: 700;
  padding-left: 40px;
}

/* line 318, B:/04530Maket/scss/style.scss */
.servInnerBlock:hover .sbhover {
  display: block;
}

/* line 324, B:/04530Maket/scss/style.scss */
.ServBlockText {
  font-family: Ubuntu;
  font-weight: 100;
  font-size: 27px;
  padding-top: 20px;
  padding-left: 0;
  text-align: center;
}

/* line 332, B:/04530Maket/scss/style.scss */
.ServBlockIcon {
  padding-top: 20px;
  text-align: center;
  font-size: 70px;
}

/* line 337, B:/04530Maket/scss/style.scss */
.sbhover {
  margin: 5px 25px;
  padding: 8px 30px;
  font-family: UbuntuLight;
  font-size: 16px;
  box-shadow: 2px 2px 3px #e8e8e8;
  text-align: left;
  display: none;
  color: black;
  text-decoration: none;
}

/* line 347, B:/04530Maket/scss/style.scss */
.sbhover:hover {
  text-decoration: none;
  color: black;
  background-color: #f2f2f2;
}

/* line 353, B:/04530Maket/scss/style.scss */
.msBox {
  height: 500px;
}

/* line 356, B:/04530Maket/scss/style.scss */
#slider {
  margin: 0 10px;
  background-color: chartreuse;
  color: black;
  position: relative;
  width: 100%;
  height: 500px;
}

/* line 364, B:/04530Maket/scss/style.scss */
#messageAccordion {
  margin: 10px;
  box-shadow: 0 0 3px 1px #dcdddf;
  text-align: left;
}

/* line 369, B:/04530Maket/scss/style.scss */
#messageAccordion h3 {
  padding: 35px 20px;
  margin: 0;
  font-family: UbuntuLight;
  font-size: 20px;
  color: #ddd;
  border: 5px solid transparent;
  border-bottom: 1px solid #dcdddf;
}

/* line 380, B:/04530Maket/scss/style.scss */
#messageAccordion .ui-accordion-header-active {
  font-size: 20px;
  color: black;
}

/* line 384, B:/04530Maket/scss/style.scss */
#messageAccordion div {
  padding: 10px 20px;
  border: 5px solid transparent;
  border-bottom: 1px solid #dcdddf;
}

/* line 390, B:/04530Maket/scss/style.scss */
.messageNotice {
  margin: 10px;
  font-family: Ubuntu-R;
  color: #9b9da0;
  position: absolute;
  bottom: 0;
}

/* line 397, B:/04530Maket/scss/style.scss */
.tabOurWorks {
  display: inline-block;
  padding: 18px 40px;
  margin: 0 1px;
  box-shadow: 0 0 5px 2px  #e9e9e8;
  font-family: 'Ubuntu-R' ,sans-serif;
  color: white;
  background-color: #1abc9c;
  font-size: 18px;
}

/* line 408, B:/04530Maket/scss/style.scss */
.tabOurWorksActive {
  background-color: black;
}

/* line 412, B:/04530Maket/scss/style.scss */
.tab {
  display: inline-block;
  padding: 18px 40px;
  margin: 0 1px;
  box-shadow: 0 0 5px 2px  #e9e9e8;
  border-radius: 5px 5px 0 0;
  font-family: 'Ubuntu-R' sans-serif;
}

/* line 421, B:/04530Maket/scss/style.scss */
.tabActive {
  color: white;
  background-color: #1abc9c;
}

/* line 426, B:/04530Maket/scss/style.scss */
#tabContent {
  padding-top: 110px;
}

/* line 429, B:/04530Maket/scss/style.scss */
#IntroContent h3 {
  margin-top: 60px;
}

/* line 432, B:/04530Maket/scss/style.scss */
.tabText {
  font-family: UbuntuLight;
  text-align: left;
  margin: auto 0;
  padding: 0 15px;
}

/* line 438, B:/04530Maket/scss/style.scss */
.tabText h3 {
  font-size: 27px;
  padding-right: 150px;
}

/* line 442, B:/04530Maket/scss/style.scss */
.tabText p {
  font-size: 16px;
  padding-top: 20px;
  color: #c9c9c9;
}

/* line 449, B:/04530Maket/scss/style.scss */
.tbCont {
  display: none;
}

/* line 452, B:/04530Maket/scss/style.scss */
.tbContActive {
  display: block;
}

/* line 455, B:/04530Maket/scss/style.scss */
.bIcon {
  font-size: 220px;
  padding: 20px;
}

/* line 460, B:/04530Maket/scss/style.scss */
.worksSquard {
  position: relative;
  height: 260px;
  transition: all .2s;
  z-index: 2;
}

/* line 468, B:/04530Maket/scss/style.scss */
.block {
  position: relative;
  height: 260px;
  transition: all .2s;
  z-index: 2;
}

/* line 473, B:/04530Maket/scss/style.scss */
.block:hover {
  z-index: 3;
}

/* line 475, B:/04530Maket/scss/style.scss */
.block:hover .blHover {
  opacity: 1;
}

/* line 479, B:/04530Maket/scss/style.scss */
.block:hover .underBlock {
  opacity: 1;
}

/* line 486, B:/04530Maket/scss/style.scss */
.rollUp:hover .worksSquard {
  transform: translate(0, -70px);
}

/* line 492, B:/04530Maket/scss/style.scss */
.rollDown:hover .worksSquard {
  transform: translate(0, 70px);
}

/* line 497, B:/04530Maket/scss/style.scss */
.blockIcon {
  font-size: 180px;
  padding: 30px;
}

/* line 501, B:/04530Maket/scss/style.scss */
.underBlock {
  padding: 10px;
  background-color: #252830;
  color: white;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* line 510, B:/04530Maket/scss/style.scss */
.rollUp .underBlock {
  bottom: 0;
}

/* line 515, B:/04530Maket/scss/style.scss */
.rollDown .underBlock {
  top: 0;
}

/* line 519, B:/04530Maket/scss/style.scss */
.OurWorksLink {
  padding-bottom: 80px;
}

/* line 522, B:/04530Maket/scss/style.scss */
.blockCss {
  margin: 1px;
  padding: 5px;
  font-family: 'Ubuntu-R', sans-serif;
  font-size: 11px;
  border-radius: 5px;
  background-color: #f2ede8;
  color: #5ebd85;
}

/* line 531, B:/04530Maket/scss/style.scss */
.blHover {
  position: relative;
  opacity: 0;
  transition: all .5s;
}

/* line 537, B:/04530Maket/scss/style.scss */
.blockHover {
  padding: 20px;
}

/* line 540, B:/04530Maket/scss/style.scss */
.bImg {
  max-height: 130px;
  max-width: 130px;
}

/* line 545, B:/04530Maket/scss/style.scss */
.teamPerson {
  padding: 20px;
  margin: 5px;
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 27px;
}

/* line 550, B:/04530Maket/scss/style.scss */
.teamPerson:hover {
  box-shadow: 0 0 14px 10px #e9e9e8;
}

/* line 554, B:/04530Maket/scss/style.scss */
.personFoto {
  margin: 0 auto;
  width: 256px;
  height: 480px;
  max-width: 256px;
  max-height: 480px;
  background-color: #e9e9e8;
  margin-bottom: 20px;
}

/* line 563, B:/04530Maket/scss/style.scss */
.persPosition {
  font-size: 19px;
}

/* line 566, B:/04530Maket/scss/style.scss */
#newFeatures {
  background: #f9f9f9;
  color: #939598;
}

/* line 569, B:/04530Maket/scss/style.scss */
#newFeatures h2 {
  font-family: 'ubuntuBold',sans-serif;
  font-size: 33px;
  color: black;
}

/* line 575, B:/04530Maket/scss/style.scss */
#newFeatures h3 {
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 33px;
}

/* line 578, B:/04530Maket/scss/style.scss */
#newFeatures h3 span {
  color: #1abc9c;
}

/* line 582, B:/04530Maket/scss/style.scss */
#newFeatures h6 {
  padding-top: 15px;
  font-family: 'ubuntuLight',sans-serif;
  font-size: 15px;
  padding-bottom: 60px;
}

/* line 590, B:/04530Maket/scss/style.scss */
#newFeatures ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 80px;
}

/* line 594, B:/04530Maket/scss/style.scss */
#newFeatures ul li {
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 16px;
  padding: 10px 0;
}

/* line 598, B:/04530Maket/scss/style.scss */
#newFeatures ul li:before {
  font-family: 'FontAwesome';
  color: black;
  font-size: 17px;
  content: '\f18e';
  padding-right: 10px;
}

/* line 608, B:/04530Maket/scss/style.scss */
#newFeatures button {
  padding: 20px 40px;
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 20px;
}

/* line 614, B:/04530Maket/scss/style.scss */
#newFeatures .butBlack {
  background-color: black;
  color: white;
  border-radius: 0;
}

/* line 621, B:/04530Maket/scss/style.scss */
.rectangles {
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
}

/* line 627, B:/04530Maket/scss/style.scss */
.rectangle {
  position: absolute;
  width: 400px;
  height: 300px;
  background-color: #e0eaf3;
  transform: rotate3d(0, 0, 1, 22deg) rotate3d(0, 0, 1, 12deg) rotate3d(1, 0, 0, 40deg);
}

/* line 636, B:/04530Maket/scss/style.scss */
.rect1 {
  top: 100px;
  box-shadow: 20px 20px 30px 1px #afb5ba;
}

/* line 640, B:/04530Maket/scss/style.scss */
.rect2 {
  top: 180px;
  box-shadow: 20px 20px 30px 1px #afb5ba;
}

/* line 644, B:/04530Maket/scss/style.scss */
.rect3 {
  top: 260px;
  box-shadow: 20px 20px 30px 1px #afb5ba;
}

/* line 649, B:/04530Maket/scss/style.scss */
#blackBlock {
  padding-bottom: 80px;
  padding-top: 80px;
  padding-left: 220px;
  padding-right: 220px;
  background-color: #141519;
  color: #f9f9f9;
}

/* line 656, B:/04530Maket/scss/style.scss */
#blackBlock h3 {
  font-family: 'Ubuntu-R',sans-serif;
  padding-bottom: 30px;
}

/* line 661, B:/04530Maket/scss/style.scss */
.bh1 {
  font-family: "ubuntuLight" sans-serif;
  font-size: 47px;
  padding-bottom: 20px;
}

/* line 666, B:/04530Maket/scss/style.scss */
.bh6 {
  font-family: "ubuntu-R" , sans-serif;
  font-size: 18px;
}

/* line 674, B:/04530Maket/scss/style.scss */
.blackColumn .et {
  font-size: 47px;
  padding-bottom: 10px;
}

/* line 679, B:/04530Maket/scss/style.scss */
#subscribe {
  font-family: ubuntuLight,sans-serif;
  background-color: #f1f1ef;
  padding-top: 75px;
  padding-bottom: 75px;
}

/* line 686, B:/04530Maket/scss/style.scss */
.subscribeP {
  font-size: 46px;
  color: #4c4c4c;
  margin: 0 5px;
}

/* line 693, B:/04530Maket/scss/style.scss */
.emailBlock {
  background-color: white;
  color: #c3c7d1;
  font-size: 14px;
  padding: 10px 10px;
  margin: 0 10px;
  position: relative;
}

/* line 700, B:/04530Maket/scss/style.scss */
.emailBlock input {
  border: 0;
  width: 90%;
}

/* line 704, B:/04530Maket/scss/style.scss */
.emailBlock button {
  color: #1abc9c;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 4px;
}

/* line 715, B:/04530Maket/scss/style.scss */
.subscribeText {
  font-size: 16px;
  color: #939598;
  padding: 40px 10px;
}

/* line 720, B:/04530Maket/scss/style.scss */
.GreenText {
  color: #1abc9c;
}

/* line 724, B:/04530Maket/scss/style.scss */
#BetterFaster p.header {
  font-family: "Ubuntu-R",sans-serif;
  font-size: 16px;
  color: #939598;
  padding-bottom: 50px;
}

/* line 729, B:/04530Maket/scss/style.scss */
#BetterFaster p.header span {
  font-family: 'UbuntuBold',sans-serif;
}

/* line 734, B:/04530Maket/scss/style.scss */
#BetterFaster h2 {
  font-family: 'UbuntuLight',sans-serif;
  font-size: 47px;
  padding-bottom: 30px;
}

/* line 739, B:/04530Maket/scss/style.scss */
#BetterFaster p.ltext {
  font-family: 'UbuntuLight',sans-serif;
  color: #939598;
  font-size: 16px;
  padding-bottom: 50px;
}

/* line 747, B:/04530Maket/scss/style.scss */
.butGreen {
  color: white;
  background-color: #1abc9c;
}

/* line 752, B:/04530Maket/scss/style.scss */
.but {
  font-family: "ubuntuLight",sans-serif;
  border: 0;
  padding: 15px 35px;
}

/* line 757, B:/04530Maket/scss/style.scss */
#productPackages {
  background-color: #f1f1ef;
  padding-top: 75px;
  padding-bottom: 75px;
}

/* line 761, B:/04530Maket/scss/style.scss */
#productPackages .ich {
  color: #4c4c4c;
}

/* line 764, B:/04530Maket/scss/style.scss */
#productPackages .PPPriceBlock {
  position: relative;
  padding-top: 35px;
  margin-bottom: 15px;
  padding-bottom: 40px;
}

/* line 770, B:/04530Maket/scss/style.scss */
#productPackages .head {
  padding-bottom: 20px;
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 20px;
}

/* line 775, B:/04530Maket/scss/style.scss */
#productPackages .cW {
  color: white;
}

/* line 778, B:/04530Maket/scss/style.scss */
#productPackages .cB {
  color: black;
}

/* line 781, B:/04530Maket/scss/style.scss */
#productPackages .circleOut {
  border-radius: 50%;
  position: relative;
  width: 130px;
  height: 130px;
  border: 1px solid #e0e0e0;
  padding: 3px;
  margin: 0 auto;
}

/* line 790, B:/04530Maket/scss/style.scss */
#productPackages .circleIn {
  border-radius: 50%;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 121px;
  height: 121px;
  border: 1px solid #e0e0e0;
}

/* line 801, B:/04530Maket/scss/style.scss */
#productPackages .cGrayFon {
  background-color: #fbfbfb;
}

/* line 804, B:/04530Maket/scss/style.scss */
#productPackages .price {
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 29px;
  margin: 0;
}

/* line 809, B:/04530Maket/scss/style.scss */
#productPackages .permonth {
  font-family: 'ubuntuLight',sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 35px;
}

/* line 815, B:/04530Maket/scss/style.scss */
#productPackages .Btext {
  font-family: 'UbuntuBold',sans-serif;
  font-size: 16px;
  margin: 20px auto;
}

/* line 819, B:/04530Maket/scss/style.scss */
#productPackages .Btext span {
  font-family: 'Ubuntu-R',sans-serif;
}

/* line 823, B:/04530Maket/scss/style.scss */
#productPackages .Ctext {
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 16px;
  margin: 4px auto;
}

/* line 829, B:/04530Maket/scss/style.scss */
#productPackages .colPer {
  color: #928b8b;
}

/* line 832, B:/04530Maket/scss/style.scss */
#productPackages .but {
  margin-bottom: 30px;
}

/* line 835, B:/04530Maket/scss/style.scss */
#productPackages .downText {
  font-family: 'UbuntuLight',sans-serif;
  font-size: 15px;
  color: #939598;
}

/* line 839, B:/04530Maket/scss/style.scss */
#productPackages .downText span {
  color: #1abc9c;
}

/* line 845, B:/04530Maket/scss/style.scss */
.vertLine {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  border-left: 1px solid white;
}

/* line 854, B:/04530Maket/scss/style.scss */
#getitrightnow .headertext {
  font-family: 'UbuntuLight',sans-serif;
  font-size: 57px;
  color: #4c4c4c;
}

/* line 859, B:/04530Maket/scss/style.scss */
#getitrightnow .subtext {
  font-family: 'Ubuntu-R',sans-serif;
  font-size: 16px;
  padding-bottom: 50px;
}

/* line 863, B:/04530Maket/scss/style.scss */
#getitrightnow .subtext a {
  color: #1abc9c;
  text-decoration: none;
}

/* line 870, B:/04530Maket/scss/style.scss */
#getitrightnow .OSBlock {
  background-color: #222222;
  color: white;
  font-family: MyriadProLight,sans-serif;
  font-size: 15px;
  display: inline-block;
  position: relative;
  padding: 5px;
}

/* line 879, B:/04530Maket/scss/style.scss */
#getitrightnow .OSBlock span {
  font-size: 28px;
}

/* line 882, B:/04530Maket/scss/style.scss */
#getitrightnow .OSBlock p {
  margin: 0;
  padding-left: 15px;
  padding-right: 20px;
}

/* line 887, B:/04530Maket/scss/style.scss */
#getitrightnow .OSBlock .fa, #getitrightnow .OSBlock div {
  display: inline-block;
}

/* line 890, B:/04530Maket/scss/style.scss */
#getitrightnow .OSBlock .fa {
  padding: 10px;
}

/* line 895, B:/04530Maket/scss/style.scss */
#grayBlock {
  padding: 0 220px;
  padding-top: 80px;
  background-color: #a5a5a5;
}

/* line 899, B:/04530Maket/scss/style.scss */
#grayBlock .iconMan {
  display: inline-block;
  position: relative;
  background-color: white;
  width: 140px;
  max-width: 140px;
  height: 140px;
  max-height: 140px;
  border-radius: 50%;
  background-image: url("../img/iconMan.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 912, B:/04530Maket/scss/style.scss */
#grayBlock .star {
  color: #ffb74d;
  padding: 40px;
}

/* line 915, B:/04530Maket/scss/style.scss */
#grayBlock .star .fa {
  padding: 0;
}

/* line 919, B:/04530Maket/scss/style.scss */
#grayBlock .most {
  color: white;
  font-family: "Ubuntu-R",sans-serif;
  font-size: 16px;
}

/* line 924, B:/04530Maket/scss/style.scss */
#grayBlock .someone {
  padding-top: 40px;
  padding-bottom: 70px;
}

/* line 927, B:/04530Maket/scss/style.scss */
#grayBlock .someone span {
  font-family: 'UbuntuBold',sans-serif;
  font-size: 16px;
  color: white;
}

/* line 936, B:/04530Maket/scss/style.scss */
#partners {
  background-color: #f9f9f9;
  color: #1abc9c;
  font-family: "Ubuntu-R",sans-serif;
  font-size: 27px;
  padding: 80px 0;
}

/* line 942, B:/04530Maket/scss/style.scss */
#partners span {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  padding: 0 20px;
  font-weight: 700;
}

/* line 950, B:/04530Maket/scss/style.scss */
#partners .mybold {
  font-family: 'mybold',serif;
  font-weight: 700;
  font-size: 40px;
  color: #8f8f8f;
}

/* line 956, B:/04530Maket/scss/style.scss */
#partners .newyorktimes {
  font-family: "NewYorkTimes",serif;
  font-size: 40px;
  color: #8f8f8f;
}

/* line 961, B:/04530Maket/scss/style.scss */
#partners .wallstreet {
  max-height: 30px;
}

/* line 964, B:/04530Maket/scss/style.scss */
#partners .guardian {
  max-height: 50px;
}

/* line 969, B:/04530Maket/scss/style.scss */
#partners a:hover {
  text-decoration: none;
}

/* line 974, B:/04530Maket/scss/style.scss */
#contactUs {
  color: #c9c9c9;
}

/* line 977, B:/04530Maket/scss/style.scss */
#contactUs .l300 input {
  width: 48%;
}

/* line 982, B:/04530Maket/scss/style.scss */
#contactUs .l600 input {
  width: 98%;
}

/* line 987, B:/04530Maket/scss/style.scss */
#contactUs .l26 input {
  width: 98%;
  height: 200px;
}

/* line 992, B:/04530Maket/scss/style.scss */
#contactUs input {
  height: 50px;
  margin: 5px 5px;
}

/* line 996, B:/04530Maket/scss/style.scss */
#contactUs button {
  padding: 15px 40px;
  margin: 70px 0;
}

/* line 1000, B:/04530Maket/scss/style.scss */
#contactUs .bblock {
  padding-top: 0;
}

@media (max-width: 480px) {
  /* line 1007, B:/04530Maket/scss/style.scss */
  .bblock {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1011, B:/04530Maket/scss/style.scss */
  #nf, .subscribeP {
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* line 1018, B:/04530Maket/scss/style.scss */
  .bblock {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1022, B:/04530Maket/scss/style.scss */
  #nf, .subscribeP {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 969px) {
  /* line 1029, B:/04530Maket/scss/style.scss */
  .bblock {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 1033, B:/04530Maket/scss/style.scss */
  #nf {
    text-align: center;
  }
}

@media (min-width: 967px) and (max-width: 1200px) {
  /* line 1038, B:/04530Maket/scss/style.scss */
  .bblock {
    padding-left: 220px;
    padding-right: 220px;
  }
  /* line 1042, B:/04530Maket/scss/style.scss */
  #nf {
    text-align: center;
  }
}

/*# sourceMappingURL=../css/style.map */